In [102]:
import os
import re
import pandas as pd
import sqlparse
import re

def read_file(file_path):
    allselectstatements=[]
    with open("E:\Projects\IDS Proj\indexingProj\debug.log", 'r') as f:
        x=f.read()
        for  line in re.split(r'\([0-9]+\.[0-9]+\)' , x):
            allselectstatements.append(line.strip())

    return allselectstatements

def get_dataframe(select_queries):
    table_name = ''
    where_clause = ''

    query_number_list = []
    table_name_list = []
    column_name_list = []
    where_clauses_list = []
    seperate_clauses = []



    for (j, query) in enumerate(select_queries):
        token_list = sqlparse.parse(sqlparse.split(query)[0])[0].tokens

        for (i,v) in enumerate(token_list):
            if v.ttype==sqlparse.tokens.Keyword and v.value=="FROM":
                table_name = token_list[i+2].value
                table_name = table_name.strip('\"')

            if table_name != '' and table_name.startswith("logSQL"):
                if v.value.startswith("WHERE"):
                    where_clause = v.value.split(";")[0]
                    clauses = where_clause.strip("WHERE").strip(' ').split("AND")
                    print(clauses)
                    column_name = ''
                    for clause in clauses:
                        try:
                            column_name = clause.split(table_name)[1].split('.')[1].split('"')[1]
                            query_number_list.append(j)
                            table_name_list.append(table_name)
                            column_name_list.append(column_name)
                            where_clauses_list.append(where_clause)
                            seperate_clauses.append(clause)
                        except:
                            pass


    sql_data = {
        'query_no':query_number_list,
        'table_name':table_name_list,
        'column_name':column_name_list,
        'where_clause':where_clauses_list,
        'seperate_clause':seperate_clauses
        
    }

    df = pd.DataFrame(data=sql_data)
    return df


nlist = read_file("E:\Projects\IDS Proj\indexingProj\debug.log")

select_queries = [x for x in nlist if x.startswith("SELECT")]

df_select = get_dataframe(select_queries)

['"logSQL_faculty"."name"::text LIKE \'Dr.%\'']
['("logSQL_faculty"."name"::text LIKE \'Dr.%\' ', ' "logSQL_faculty"."subject" = \'Intelligent Database Systems\' ', ' "logSQL_faculty"."age" > 25)']
['("logSQL_faculty"."name"::text LIKE \'Dr.%\' ', ' "logSQL_faculty"."subject" = \'Intelligent Database Systems\' ', ' "logSQL_faculty"."age" > 25 ', ' "logSQL_faculty"."title" = \'Associate Professor\')']
['"logSQL_faculty"."age" > 25']
['"logSQL_faculty"."age" > 45']
['"logSQL_faculty"."age" > 50']
['"logSQL_faculty"."age" > 50']
['"logSQL_student"."age" > 50']
['"logSQL_student"."age" > 15']

In [125]:
# print(df_select.iloc[2]["where_clause"])

df_select.iloc[2]["where_clause"].replace('\n', ' ')

'WHERE ("logSQL_faculty"."name"::text LIKE \'Dr.%\' AND "logSQL_faculty"."subject" = \'Intelligent Database Systems\' AND "logSQL_faculty"."age" > 25)'

In [90]:
df_select.iloc[4]["where_clause"]

'WHERE ("logSQL_faculty"."name"::text LIKE \'Dr.%\' AND "logSQL_faculty"."subject" = \'Intelligent Database Systems\' AND "logSQL_faculty"."age" > 25 AND "logSQL_faculty"."title" = \'Associate Professor\')'

In [101]:
for query_no in df_select['query_no'].unique():
    print(query_no)

206
209
210
348
349
350

In [93]:
for query_no in df_select['query_no'].unique():
    df = df_select[df_select['query_no'] == query_no]
    print(df)

   query_no      table_name column_name  \
0       206  logSQL_faculty        name

                                      where_clause  \
0  WHERE "logSQL_faculty"."name"::text LIKE 'Dr.%'

                             seperate_clause
0  "logSQL_faculty"."name"::text LIKE 'Dr.%'
   query_no      table_name column_name  \
1       209  logSQL_faculty        name
2       209  logSQL_faculty     subject
3       209  logSQL_faculty         age

                                        where_clause  \
1  WHERE ("logSQL_faculty"."name"::text LIKE 'Dr....
2  WHERE ("logSQL_faculty"."name"::text LIKE 'Dr....
3  WHERE ("logSQL_faculty"."name"::text LIKE 'Dr....

                                     seperate_clause
1        ("logSQL_faculty"."name"::text LIKE 'Dr.%'
2   "logSQL_faculty"."subject" = 'Intelligent Dat...
3                       "logSQL_faculty"."age" > 25)
   query_no      table_name column_name  \
4       210  logSQL_faculty        name
5       210  logSQL_faculty     subject
6       210  logSQL_faculty         age
7       210  logSQL_faculty       title

                                        where_clause  \
4  WHERE ("logSQL_faculty"."name"::text LIKE 'Dr....
5  WHERE ("logSQL_faculty"."name"::text LIKE 'Dr....
6  WHERE ("logSQL_faculty"."name"::text LIKE 'Dr....
7  WHERE ("logSQL_faculty"."name"::text LIKE 'Dr....

                                     seperate_clause
4        ("logSQL_faculty"."name"::text LIKE 'Dr.%'
5   "logSQL_faculty"."subject" = 'Intelligent Dat...
6                       "logSQL_faculty"."age" > 25
7   "logSQL_faculty"."title" = 'Associate Profess...
   query_no      table_name column_name                       where_clause  \
8       348  logSQL_faculty         age  WHERE "logSQL_faculty"."age" > 25

               seperate_clause
8  "logSQL_faculty"."age" > 25
   query_no      table_name column_name                       where_clause  \
9       349  logSQL_faculty         age  WHERE "logSQL_faculty"."age" > 45

               seperate_clause
9  "logSQL_faculty"."age" > 45
    query_no      table_name column_name                       where_clause  \
10       350  logSQL_faculty         age  WHERE "logSQL_faculty"."age" > 50

                seperate_clause
10  "logSQL_faculty"."age" > 50

In [97]:
l = ["name"]

In [99]:
'_'.join(l)

'name'